# Logs
front-endlogs
front-end*.log
front-endnpm-debug.log*
front-endyarn-debug.log*
front-endyarn-error.log*
front-endpnpm-debug.log*
front-endlerna-debug.log*

front-end/node_modules
front-end/dist
front-end/dist-ssr
front-end/*.local

back-end/venv
back-end/.env
back-end/**/__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
